@model ParkWeatherVM
@{
    ViewData["Title"] = "Detail";
}

<h1 class="title">@Model.park.ParkName @Model.park.State</h1>
<img class="displayIMG" src="~/images/@(Model.park.ParkCode).jpg" />
<h4 class="quote">@Model.park.InspirationalQuote by: @Model.park.InspirationalQuoteSource</h4>
<p>@Model.park.ParkDescription</p>
<div class="table">
    <div class="tablerow">
        <div class="tablehead">Elevation </div>
        <div class="tablehead">Miles of Trails </div>
        <div class="tablehead">Climate </div>
        <div class="tablehead">Year Founded </div>
        <div class="tablehead">Annual Visitors </div>
        <div class="tablehead">Number of Animal Species </div>
        <div class="tablehead">Price </div>
    </div>
    <div class="tablerow">
        <div class="tablecell">@Model.park.ElevationInFeet</div>
        <div class="tablecell">@Model.park.MilesOfTrail</div>
        <div class="tablecell">@Model.park.ElevationInFeet</div>
        <div class="tablecell">@Model.park.Climate</div>
        <div class="tablecell">@Model.park.YearFounded</div>
        <div class="tablecell">@Model.park.AnnualVisitorCount</div>
        <div class="tablecell">@Model.park.NumberOfAnimalSpecies</div>
        <div class="tablecell">@Model.park.EntryFee</div>

    </div>
</div>

@*<table class="displayTable">
        <thead>
            <tr>
                <td>Elevation </td>
                <td>Miles of Trails </td>
                <td>Climate </td>
                <td>Year Founded </td>
                <td>Annual Visitors </td>
                <td>Number od Animal Species </td>
                <td>Price </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.park.ElevationInFeet</td>
                <td>@Model.park.MilesOfTrail</td>
                <td>@Model.park.ElevationInFeet</td>
                <td>@Model.park.Climate</td>
                <td>@Model.park.YearFounded</td>
                <td>@Model.park.AnnualVisitorCount</td>
                <td>@Model.park.NumberOfAnimalSpecies</td>
                <td>@Model.park.EntryFee</td>
                <td></td>
            </tr>
        </tbody>
    </table>*@
<h3 class="title">5 Day Forcast</h3>
<div class="table">
    <div class=" tablerow">
        <div class="tablehead">Low </div>
        <div class="tablehead">High </div>
        <div class="tablehead">Forcast </div>
    </div>

    @foreach (Weather wthr in Model.weatherDays)
    {
        <div class=" tablerow">
            <div class="tablecell">@wthr.Low</div>
            <div class="tablecell">@wthr.High</div>
            <div class="tablecell"> <img class="weatherIMG" src="~/images/@(wthr.Forecast).png" /></div>
        </div>
    }

    @*<table>
            <thead>
                <tr>
                    <td>Low </td>
                    <td>High </td>
                    <td>Forcast </td>
                </tr>
            </thead>
            @foreach (Weather wthr in Model.weatherDays)
            {

                <tr>
                    <td>@wthr.Low</td>
                    <td>@wthr.High</td>
                    <td><img class="weatherIMG" src="~/images/@(wthr.Forecast).png" /></td>
                </tr>
            }
        </table>*@



