@model ParkWeatherVM
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.park.ParkName @Model.park.State</h2>
<img src="~/images/@(Model.park.ParkCode).jpg" />
<h4>@Model.park.InspirationalQuote by:@Model.park.InspirationalQuoteSource</h4>
<p>@Model.park.ParkDescription</p>
<table>
    <thead>
        <tr>
            <td>Elevation</td>
            <td>Miles of Trails</td>
            <td>Climate</td>
            <td>Year Founded</td>
            <td>Annual Visitors</td>
            <td>Number od Animal Species</td>
            <td>Price</td>
        </tr>
    </thead>
    <tr>
        <td>@Model.park.ElevationInFeet</td>
        <td>@Model.park.MilesOfTrail</td>
        <td>@Model.park.ElevationInFeet</td>
        <td>@Model.park.Climate</td>
        <td>@Model.park.YearFounded</td>
        <td>@Model.park.AnnualVisitorCount</td>
        <td>@Model.park.NumberOfAnimalSpecies</td>
        <td>@Model.park.EntryFee</td>
    </tr>
    @foreach(Weather wthr in Model.weatherDays)
    {
        <tr>
            <td>@wthr.Low</td>
            <td>@wthr.High</td>
            <td>@wthr.Forecast</td>
        </tr>
    }
</table>



