@model ParkWeatherVM
@{
    ViewData["Title"] = "Detail";
}
    <body style="background-color:burlywood">
        <div class="thehead">
            <div><img class="pic1" src="~/images/etra/geek.png" /></div>
            <div><h1 class="title">@(Model.park.ParkName), @Model.park.State</h1></div>
            <div><img class="pic2" src="~/images/etra/backpack.png" /></div>
        </div>
            <img class="displayIMG" src="~/images/@(Model.park.ParkCode).jpg" />
            <h4 class="quote">@Model.park.InspirationalQuote by: @Model.park.InspirationalQuoteSource</h4>
            <p>@Model.park.ParkDescription</p>
            <div class="table">
                <div class="tablerow">
                    <div class="tablehead">Elevation </div>
                    <div class="tablehead">Miles of Trails </div>
                    <div class="tablehead">Climate </div>
                    <div class="tablehead">Year Founded </div>
                    <div class="tablehead">Annual Visitors </div>
                    <div class="tablehead">Number of Animal Species </div>
                    <div class="tablehead">Price </div>
                </div>
                <div class="tablerow">
                    <div class="tablecell">@Model.park.ElevationInFeet Feet</div>
                    <div class="tablecell">@Model.park.MilesOfTrail Miles</div>
                    <div class="tablecell">@Model.park.Climate</div>
                    <div class="tablecell">@Model.park.YearFounded</div>
                    <div class="tablecell">@($"{Model.park.AnnualVisitorCount:N0}")</div>
                    <div class="tablecell">@($"{Model.park.NumberOfAnimalSpecies:N0}")</div>
                    <div class="tablecell">@($"{Model.park.EntryFee:C}")</div>

                </div>
            </div>

            <h3 class="title">@Model.park.ParkName 5 Day Forcast</h3>
            <div class="table">
                <div class=" tablerow">
                    <div class="tablehead">  </div>
                    <div class="tablehead">Low Temp</div>
                    <div class="tablehead">High Temp</div>
                    <div class="tablehead">  </div>
                    <div class="tablehead">Forcast </div>
                </div>



                @foreach (Weather wthr in Model.weatherDays)
                {

                    <div class=" tablerow">
                        <div class="tablecell">@Model.CountMethod()</div>
                        @if (Model.TempChoice == "Celcius")
                        {
                            <div class="tablecell">@(wthr.LowC)°C</div>
                            <div class="tablecell">@(wthr.HighC)°C</div>

                        }
                        else if (Model.TempChoice == "Fahrenheit")
                        {
                            <div class="tablecell">@(wthr.Low)°F</div>
                            <div class="tablecell">@(wthr.High)°F</div>
                        }
                        else
                        {
                            <div class="tablecell">@(wthr.LowK)°K</div>
                            <div class="tablecell">@(wthr.HighK)°K</div>

                        }

                        @if (wthr.Forecast == "partly cloudy")
                        {
                            <div class="tablecell"> <img class="weatherIMG" src="~/images/partlycloudy.png" /></div>
                        }
                        else
                        {
                            <div class="tablecell"> <img class="weatherIMG" src="~/images/@(wthr.Forecast).png" /></div>

                        }
                        <div class="tablecell">@WeatherMessages.GetWeatherMessage(wthr.Forecast, wthr.High, wthr.Low)</div>
                    </div>
                }
                @if (Model.TempChoice == "Fahrenheit")
                {
                    <div class="tempButtons">
                        <form asp-controller="Home" asp-action="Detail" method="Post">
                            <label>Click to see temperatures in: </label>
                            <input type="hidden" value="@Model.park.ParkCode" />
                            <input type="submit" asp-for="@Model.TempChoice" value="Celcius" />
                            <input type="submit" asp-for="@Model.TempChoice" value="Kelvin" />
                        </form>
                    </div>
                }
                else if (Model.TempChoice == "Celcius")
                {
                    <div class="tempButtons">
                        <form asp-controller="Home" asp-action="Detail" method="Post">
                            <label>Click to see temperatures in: </label>
                            <input type="hidden" value="@Model.park.ParkCode" />
                            <input type="submit" asp-for="@Model.TempChoice" value="Fahrenheit" />
                            <input type="submit" asp-for="@Model.TempChoice" value="Kelvin" />
                        </form>
                    </div>
                }
                else
                {
                    <div class="tempButtons">
                        <form asp-controller="Home" asp-action="Detail" method="Post">
                            <label>Click to see temperatures in: </label>
                            <input type="hidden" value="@Model.park.ParkCode" />
                            <input type="submit" asp-for="@Model.TempChoice" value="Celcius" />
                            <input type="submit" asp-for="@Model.TempChoice" value="Fahrenheit" />
                        </form>
                    </div>

                }


            </div>
            <hr />
            <img class="headImg" src="~/images/nps/@(NumberGen.GetRandom()).jpg" />

</body>